<body>
<p>alice and alex rate, write, and review</p>
<h1>BOSTON</h1>
<h2>COFFEE</h2>
<h3 style='display: inline;'>Three Little Figs</h3><span style='border-radius:5px; margin-left:10px; padding:3px; background-color: green;'>good</span>
<h3>Diesel Cafe</h3>
<h3>1369 Coffeehouse - Central</h3>
<h3>1369 Coffeehouse - Inman</h3>
<p>we love coffe</p>
<h1>NEW YORK</h1>
<h2>COFFEE</h2>
<h3>Colina Cuervo</h3>
<h3>Hungry Ghost Coffee - Park Slope</h3>
<h3>Velvette Brew</h3>
<h3>Little Zelda</h3>
<h3>Lincoln Station</h3>
<h3>Aura Coffee</h3>
<h3>Konditori</h3>
</body>
