body{
    font-family: 'Jost';
    font-weight: 100;

    .reviewContainer{
        margin: auto;
        width: 55vw;

        .accordion{
            background-color: #fff;
            color: #000;
            cursor: pointer;
            text-align: center;
            border: none;
            outline: none;
            transition: 0.4s;
            font-family: 'Arial';
            font-size: 20px;
        }
        .active, .accordion:hover {
            color: rgb(199, 33, 33);
        }
        h1, h2 {
            font-weight: 200;
        }

        p {
            margin: 3px 0px 0px 0px;
        }

        .typeContainer {
            overflow: hidden;
            height: auto;
            max-height: 0px;
            opacity: 0;
            transition-property: max-height, opacity;
            transition-duration: .1s;
            transition-timing-function: linear;
        }

        .typeContainer:after {
            overflow: hidden;
            height: 0px;
            transition: height 0.4s ease;
        }

        .type{
            margin: 10px 0px;
            padding: 10px;
            border: black;
            border-width: 1px;
            border-style: solid;

            h3 {
                font-weight: 200;
                margin: 0px 0px 5px 0px;
            }

            .alex {
                font-family: 'Jost';
                font-weight: 200;
            }

            .alice {
                font-family: 'Arial Narrow';
            }

            .rate {
                border-radius:5px;
                margin-left:10px;
                padding:3px;
            }

            .bad {
                background-color: rgb(228, 26, 26);
            }

            .neutral {
                background-color:rgb(252, 252, 95);
            }

            .good {
                background-color: rgb(19, 180, 19);
            }

            .review{
                padding-left: 25px;
            }
        }
    }

}
